<cards>
    <card id="2b" src="2b.png"/>
    <card id="2c" src="2c.png"/>
    <card id="2r" src="2r.png"/>
    <card id="2t" src="2t.png"/>
    <card id="3b" src="3b.png"/>
    <card id="3c" src="3c.png"/>
    <card id="3r" src="3r.png"/>
    <card id="3t" src="3t.png"/>
    <card id="4b" src="4b.png"/>
    <card id="4c" src="4c.png"/>
    <card id="4r" src="4r.png"/>
    <card id="4t" src="4t.png"/>
    <card id="5b" src="5b.png"/>
    <card id="5c" src="5c.png"/>
    <card id="5r" src="5r.png"/>
    <card id="5t" src="5t.png"/>
    <card id="6b" src="6b.png"/>
    <card id="6c" src="6c.png"/>
    <card id="6r" src="6r.png"/>
    <card id="6t" src="6t.png"/>
    <card id="7b" src="7b.png"/>
    <card id="7c" src="7c.png"/>
    <card id="7r" src="7r.png"/>
    <card id="7t" src="7t.png"/>
    <card id="8b" src="8b.png"/>
    <card id="8c" src="8c.png"/>
    <card id="8r" src="8r.png"/>
    <card id="8t" src="8t.png"/>
    <card id="9b" src="9b.png"/>
    <card id="9c" src="9c.png"/>
    <card id="9r" src="9r.png"/>
    <card id="9t" src="9t.png"/>
    <card id="10b" src="10b.png"/>
    <card id="10c" src="10c.png"/>
    <card id="10r" src="10r.png"/>
    <card id="10t" src="10t.png"/>
    <card id="Jb" src="Jb.png"/>
    <card id="Jc" src="Jc.png"/>
    <card id="Jr" src="Jr.png"/>
    <card id="Jt" src="Jt.png"/>
    <card id="Qb" src="Qb.png"/>
    <card id="Qc" src="Qc.png"/>
    <card id="Qr" src="Qr.png"/>
    <card id="Qt" src="Qt.png"/>
    <card id="Kb" src="Kb.png"/>
    <card id="Kc" src="Kc.png"/>
    <card id="Kr" src="Kr.png"/>
    <card id="Kt" src="Kt.png"/>
    <card id="Ab" src="Ab.png"/>
    <card id="Ac" src="Ac.png"/>
    <card id="Ar" src="Ar.png"/>
    <card id="At" src="At.png"/>
</cards>